<div class="well col-sm-offset-2 col-sm-8 col-xs-12">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- devise_error_messages! -->
    <%= render 'layouts/error_messages', object: resource %>

    <div class="field">
      <div class="row">
        <%= f.label :email, class: "col-sm-offset-1 col-sm-2" %>
        <div class="col-sm-7">
          <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter your Email" %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row">
        <%= f.label :password, class: "col-sm-offset-1 col-sm-2" %>
        <div class="col-sm-7">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password" %>
        </div>
      </div>
    </div>

    <div class="field">
      <div class="row">
        <%= f.label :password_confirmation, "Confirm", class: "col-sm-offset-1 col-sm-2" %>
        <div class="col-sm-7">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Retype Password" %>
        </div>
      </div>
    </div>
    
    <br />
    <div class="actions text-center">
      <%= f.submit "Register", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
