<!-- Register Modal -->
<div id="sign-up" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Registration</h4>
      </div>
      <!-- Modal body-->
      <div class="modal-body">
        <%= form_for(User.new, url: registration_path(:user), html: { id: 'sign_up_user', :'data-type' => 'json' }, remote: true) do |f| %>
          <div class="field">
            <div class="row">
              <%= f.label :email, class: "col-sm-offset-1 col-sm-2" %>
              <div class="col-sm-7">
                <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter your Email" %>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="row">
              <%= f.label :password, class: "col-sm-offset-1 col-sm-2" %>
              <div class="col-sm-7">
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password" %>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="row">
              <%= f.label :password_confirmation, "Confirm", class: "col-sm-offset-1 col-sm-2" %>
              <div class="col-sm-7">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Retype Password" %>
              </div>
            </div>
          </div>
          
          <br />
          <div class="actions text-center">
            <%= f.submit "Register", class: "btn btn-primary" %>
          </div>
        <% end %>
        <br />
        <%= link_to 'Log in',  new_user_session_path %><br />
        <%= link_to 'Forgot your password?',  new_user_password_path %><br />
      </div>
      <div class="modal-footer">
      </div>      
    </div>
  </div>
</div>