<!-- Login Modal -->
<div id="sign-in" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Log in</h4>
      </div>
      <!-- Modal body-->
      <div class="modal-body">
        <%= form_for(User.new, url: session_path(:user), html: { id: 'sign_in_user', :'data-type' => 'json' }, remote: true) do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter your Email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter Password" %>
          </div>
          <br>

          <% if Devise.mappings[:user].rememberable? -%>
            <div class="field pull-left">
              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %>
                &nbsp;Remember me
              <% end %>
            </div>
          <% end -%>

          <div class="actions text-right">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>