<div class="articles">
  <h1 align="center">Articles</h1>

  <% @articles.each do |article| %>
    <div class="well row article">
      <h4><%= article.title %></h4>
      <div>
        <%= article.body %>
      </div>
      <br/>
      <%= link_to 'Show', article %> |
      <%= link_to 'Edit', edit_article_path(article) %> |
      <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
  <div class="button-wrapper">
    <%= button_to 'I Wanna Post My New Article!', new_article_path, class: "btn btn-info", method: :get %>
  </div>
</div>